$util.qr($ctx.stash.put("id", $util.autoUlid()))
$util.qr($ctx.stash.put("title", $ctx.args.title))
$util.qr($ctx.stash.put("publishDate", $util.defaultIfNullOrEmpty($ctx.args.publishDate, $util.time.nowISO8601())))
$util.qr($ctx.stash.put("authorId", $ctx.args.authorId))
$util.qr($ctx.stash.put("description", $ctx.args.description))
$util.qr($ctx.stash.put("updatedDate", $util.time.nowISO8601()))

{
}