#set($id = $util.autoUlid())

{
    "version" : "2018-05-29",
    "operation" : "PutItem",
    "key" : {
        "PK": $util.dynamodb.toDynamoDBJson("AUTHOR#${id}"),
        "SK": $util.dynamodb.toDynamoDBJson("AUTHOR#${id}"),
    },
    "attributeValues" : {
        "_TYPE": $util.dynamodb.toDynamoDBJson("AUTHOR"),
    	"id": $util.dynamodb.toDynamoDBJson($id),
        "name": $util.dynamodb.toDynamoDBJson($ctx.args.name),
        "createdDate": $util.dynamodb.toDynamoDBJson($util.time.nowISO8601()),
        "bio": $util.dynamodb.toDynamoDBJson($ctx.args.bio),
    }
}