#set($args = $ctx.args)
#set($id = $args.id)
#set($name = $args.name)
#set($bio = $args.bio)
#set($updatedDate = $util.time.nowISO8601())

{
  "version": "2018-05-29",
  "operation": "UpdateItem",
  "key": {
    "PK": $util.dynamodb.toDynamoDBJson("AUTHOR#${id}"),
    "SK": $util.dynamodb.toDynamoDBJson("AUTHOR#${id}"),
  },
  "update": {
    "expression": "SET #n = :name, #b = :bio, #u = :updatedDate",
    "expressionNames": {
      "#n": "name",
      "#b": "bio",
      "#u": "updatedDate"
    },
    "expressionValues": {
      ":name": $util.dynamodb.toDynamoDBJson($name),
      ":bio": $util.dynamodb.toDynamoDBJson($bio),
      ":updatedDate": $util.dynamodb.toDynamoDBJson($updatedDate),
    }
  },
  "condition": {
    "expression": "attribute_exists(PK)"
  }
}
