#set($id = $util.autoUlid())

{
    "version" : "2018-05-29",
    "operation" : "PutItem",
    "key" : {
        "PK": $util.dynamodb.toDynamoDBJson("AUTHOR#${ctx.args.authorId}"),
        "SK": $util.dynamodb.toDynamoDBJson("BOOK#${id}"),
    },
    "attributeValues" : {
        "_TYPE": $util.dynamodb.toDynamoDBJson("BOOK"),
    	"id": $util.dynamodb.toDynamoDBJson($id),
        "title": $util.dynamodb.toDynamoDBJson($ctx.args.title),
        "publishDate": $util.dynamodb.toDynamoDBJson($util.defaultIfNullOrEmpty($ctx.args.publishDate, $util.time.nowISO8601())),
        "authorId": $util.dynamodb.toDynamoDBJson($ctx.args.authorId),
        "description": $util.dynamodb.toDynamoDBJson($ctx.args.description),
        "createdDate": $util.dynamodb.toDynamoDBJson($util.time.nowISO8601()),
    }
}