#set($args = $ctx.args)
#set($id = $args.id)
#set($title = $args.title)
#set($authorId = $args.authorId)
#set($publicationDate = $args.publicationDate)
#set($description = $args.description)
#set($updatedDate = $util.time.nowISO8601())

{
  "version": "2018-05-29",
  "operation": "UpdateItem",
  "key": {
    "PK": $util.dynamodb.toDynamoDBJson("AUTHOR#${ctx.args.authorId}"),
    "SK": $util.dynamodb.toDynamoDBJson("BOOK#${id}"),
  },
  "update": {
    "expression": "SET #t = :title, #a = :authorId, #p = :publicationDate, #d = :description, #u = :updatedDate",
    "expressionNames": {
      "#t": "title",
      "#a": "authorId",
      "#p": "publicationDate",
      "#d": "description",
      "#u": "updatedDate"
    },
    "expressionValues": {
      ":title": $util.dynamodb.toDynamoDBJson($title),
      ":authorId": $util.dynamodb.toDynamoDBJson($authorId),
      ":publicationDate": $util.dynamodb.toDynamoDBJson($publicationDate),
      ":description": $util.dynamodb.toDynamoDBJson($description),
      ":updatedDate": $util.dynamodb.toDynamoDBJson($updatedDate),
    }
  },
  "condition": {
    "expression": "attribute_exists(PK)"
  }
}
