#if($ctx.results.items.size() == 0)
    #return
#end

#set($author = {})
#set($book = {})
#foreach($item in $ctx.result.items)
    #if($item["_TYPE"] == "AUTHOR")
        #set ($author = $item)
    #elseif($item["_TYPE"] == "BOOK")
        #set ($book = $item)
    #end
#end

$util.qr($book.put("author", $author))

$util.toJson($book)