## Raise a GraphQL field error in case of a datasource invocation error
#if($ctx.error)
    $util.error($ctx.error.message, $ctx.error.type)
#end

$util.qr($ctx.result.put("author", $ctx.stash.get("author")))
$util.toJson($ctx.result)