#set($authorId = $ctx.stash.get("authorId"))

{
  "version": "2018-05-29",
  "operation": "GetItem",
  "key": {
    "PK": $util.dynamodb.toDynamoDBJson("AUTHOR#${authorId}"),
    "SK": $util.dynamodb.toDynamoDBJson("AUTHOR#${authorId}"),
  }
}